<h1>Register!</h1>


<%= form_for @user, url: '/create' do |f| %>

<p style="background-color:red;"> <%= @user.errors.full_messages.first if @user && @user.errors.any? %></p>

  Name: <%= f.text_field :name %>

  Username: <%= f.text_field :username %>

  Password: <%= f.password_field :password %>

  Password Confirmation: <%= f.password_field :password_confirmation %>
  
  <%= f.submit "Submit" %>

<% end %>
