<% if current_user %>
  
  <h1> Hello <%= current_user.name %> </h1>

  <%= form_tag({action: 'upload',controller: 'files'}, :multipart => true) do %>
    <p><label for="upload_file">Select File</label>
    <%= file_field 'upload', 'datafile' %></p>
    <%= submit_tag "Upload" %>
  <% end %>

  <p>Your list of files </p>
    <table style="table-layout: fixed; width:100%; margin:20px; " border="3" cellpadding="10">
      <% current_user.uploaded_files.order(created_at: :desc).each do |file| %>
        <%= render "file", file: file %>
      <% end %>

    </table>


  <%= button_to "Log Out",controller: :users, action: :logout%>

<% else %>
<h1>Login</h1>

<%= form_tag '/login' do %>

  Username: <%= text_field_tag :username %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>

<h1> Please Sign in or Register </h1>

<%= link_to "Register", controller: :users, action: :new %>
<% end %>


<% console %>