<% if current_user %>
  
  <h1> HELLO <%= current_user.name %> </h1>

  <%= form_tag({action: 'upload',controller: 'files'}, :multipart => true) do %>
    <p><label for="upload_file">Select File</label>
    <%= file_field 'upload', 'datafile' %></p>
    <%= submit_tag "Upload" %>
  <% end %>

  <p>Your list of files </p>

  <% current_user.uploaded_files.each do |file| %>
    <%= render "file", file: file %>
  <% end %>


  <%= button_to "Log Out",controller: :users, action: :logout%>

<% else %>
<h1> Please Sign in or Register </h1>

<%= link_to "Register", controller: :users, action: :new %>

<h1>Login</h1>

<%= form_tag '/login' do %>

  Username: <%= text_field_tag :username %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>

<% end %>