<!DOCTYPE html>
<html>
  <head>
    <title>FileUpload</title>
    <style>

    </style>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=flash[:error] if flash[:error]%>
    <%= yield %>
  </body>
</html>
