<!DOCTYPE html>
<html>
  <head>
    <title>FileUpload</title>
    <style>

    </style>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p style="background-color: red;"><%=flash[:error] if flash[:error]%></p>
    <%= yield %>
  </body>
</html>
